.title a {
    text-decoration: none;
}

.icon-block {
    height: 54px;
    width: 145px;
    display: table-cell;
}

.icon {
    height: 44px;
    width: 120px;
    vertical-align: middle;
    margin: 0 auto
}

.search {
    width: 100%;
    height: 54px;
    vertical-align: middle;
    display:inline-block
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: #fafafa;
}

input {
    height: 44px;
    width: 488px;
}