.header-row {
    height: 30px;
    margin-top: 18px;
}

.header {
    width: 255px;
    float: right;
    font-family: arial, sans-serif;
    font-size: 13px;
    vertical-align: middle;
}

.field-wrapper {
    height: 30px;
    display:inline-block;
    vertical-align: middle;
}

.field {
    margin-left: 12px;
    color: #737373;
    text-decoration: none;
}

.field:hover {
    color: black;
}

.icon-wrapper {
    width: 45px;
}

.icon {
    margin-left: 15px;
    width: 24px;
    height: 24px;
    display:inline-block;
    -webkit-filter: invert(30%);
}

.icon:hover {
    -webkit-filter: invert(0%);
}

.icon-link {
    vertical-align: middle;
    text-decoration: none;
}


.sign-in-button {
    margin-top: -15px;
    margin-left: 15px;
    width: 69px;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 28px;
    padding: 0 12px;
}


