.header-row {
    height: 30px;
    margin-top: 15px;
}

.header {
    width: 260px;
    float: right;
    font-family: arial, sans-serif;
    font-size: 13px;
    vertical-align: middle;
}

.field-wrapper {
    height: 30px;
    display:inline-block;
    vertical-align: middle;
}

.field {
    margin-left: 12px;
    color: #737373;
    text-decoration: none;
}

.field:hover {
    color: black;
}

.icon-wrapper {
    width: 45px;
}

.icon {
    margin-left: 15px;
    width: 25px;
    height: 25px;
    display:inline-block;
    -webkit-filter: invert(30%);
}

.icon:hover {
    -webkit-filter: invert(0%);
}

.icon-link {
    text-decoration: none;
}


