.input-row {
    height: 130px;
}

.center {
    margin-left: calc(50% - 286px);
}

.input-block {
    margin-top: 26px;
    height: 38px;
    width: 584px;
    border: 1px solid #d9d9d9;
}

.input-block:hover {
    border: 1px solid #A0A0A0;
}

.input-block.search-input:focus {
    border: 2px solid #4285F4;
}

.search-input {
    position: absolute;
    margin-left: 10px;
    margin-top: 2px;
    height: 32px;
    width: 503px;
    border: none;
    outline:none;
}

.input-image {
    margin-left: 94%;
}

.button-block {
    margin-top: 7px;
    margin-left: calc(50% - 142px);
}

.search-button {
    color: #757575;
    background-color: #f2f2f2;
    border: #f2f2f2;
    border-radius: 2px;
    height: 36px;
    margin-left: 4px;
    margin-top: 25px;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.search-button:hover {
    border: 1px solid #c6c6c6;
    color: black;
}

#search-button {
    width: 125.75px;
}

#doodle-button {
    width: 142.58px;
}

