.input-row {
    height: 130px;
}

.input-block {
    margin-left: calc(50% - 287px);
}

.search-input {
    position: absolute;
    margin-left: -575px;
    margin-top: 27px;
    height: 34px;
    width: 503px;
    border: 1px solid;
}

.input-image {
    margin-left: -3px;
    margin-top: 18px;
}

.button-block {
    margin-left: calc(50% - 287px);
}

.search-button {
    background-color: #f2f2f2;
    border: #f2f2f2;
    width: 126px;
    height: 35px;
    margin-left: 149px;
    margin-top: 25px;
}